
@{
    ViewBag.Title = "ListaBecasMovil";
}
<script defer src="~/Scripts/APP/BecasMovil/ListasBecasMovil.js"></script>
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong>LISTADO BECAS MOVIL</strong></h1>
<hr width=100% align="right" size=200 color="black">

<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-becasmovil">
        <thead>
            <tr class="ColorTabla">

                <th>TIPO DOCUMENTO</th>
                <th>NUMERO DOCUMENTO</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>CORREO ELECTRONICO</th>
                <th>NUMERO CONTACTO</th>
                <th>FECHA REGISTRO</th>



            </tr>
        </thead>
    </table>
</div>